<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.springboot.merge.user.mapper.UserTestMapper">

    <resultMap id="BaseMapper" type="com.springboot.merge.user.dto.UserTest">
        <id     column="user_id" jdbcType="INTEGER" property="userId"/>
        <result property="userName" jdbcType="VARCHAR" column="user_name"/>
        <result property="userPassword" jdbcType="VARCHAR" column="user_password"/>
    </resultMap>
    <!--查询信息-->
    <select id="userTestInfo" resultMap="BaseMapper">
        select * from USERTEST
    </select>

</mapper>
